
<section id="banner" style="background-image: url('assets/img/halloween.jpg'); background-size: cover; background-repeat: no-repeat;">
  <div class="wrapper">
    <div class="content">
      <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}Turner Halloween Party!{% endif %}</h1>
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}Join us for halloween, come as a snack, cereal, drink, dessert, candy etc. Not required but encouraged! {% endif %}</h2>
    </div>
  </div>
</section> <!-- End Section Banner -->
