---
layout: default
---
  {% include header.html %}

  {% include banner.html %}
  
  <main class="page-content">
  <section class="chapters cf">
    <div align="center" style="width:100%; height: auto;">
      {{ content }}
    </div>
  </section>
  </main>
  <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="text-align: center; max-width: 800px;">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe_NY8nLQ_yshw7juYrCilum-JOUm862ljBTBRFXWjmzWwbVg/viewform?embedded=true" frameborder="0" width="100%">Loading…</iframe>
    </div>
    <div style="text-align: center; max-width: 800px;">
        <iframe src="https://widgets.scribblemaps.com/sm/?d=true&amp;z=true&amp;l=true&amp;id=csVm75Ivxg&amp;s" allow="geolocation" allowfullscreen="" frameborder="0" loading="lazy" webkitallowfullscreen="" mozallowfullscreen="" width="100%">Loading…</iframe>
    </div>
</div>
  {% include newsletter.html %}

  {% include pagination.html %}

  {% include footer.html %}
